@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');

html,
body{
  background-color: #232323!important;
  overflow-x: hidden;
}

#vid-player-con{
  width: 60vw;
  margin: 3em;
}
